{% include 'head.html.twig' %}

{% block nav %}
    {% include 'navigation.html.twig' %}
{% endblock %}
<main id="main">
    {% if  title is defined %}
        <h1>{{ title }}</h1>
    {% endif %}
    {% block body %}{% endblock %}
</main>
{% include 'footer.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js/libs/FormBuilder.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
