<nav class="main">
    <div class="logo">
        <img src="{{  asset('images/logo.webp') }}" alt="Página principal">
        <h3>Guardias</h3>
    </div>
    <ul>
        <li><a href="/perfil/">Hola {{ app.user.name }}</a></li>
        <li><a href="/eventos/">Eventos</a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</nav>
